/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_base.scss */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/_base.scss */
body {
  color: #000000;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* line 16, ../sass/_base.scss */
h1, h2, h3 {
  font-family: "Sanchez", serif;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 22, ../sass/_base.scss */
h1 {
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 4px;
}

/* line 28, ../sass/_base.scss */
h2 {
  font-size: 22px;
  line-height: 38px;
  letter-spacing: 2px;
}

/* line 34, ../sass/_base.scss */
a, i {
  outline: none;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

/* Header
-----------------------------------------------*/
/* line 45, ../sass/_base.scss */
.header-wrapper {
  background: #000000;
  position: fixed;
  width: 100%;
  z-index: 999;
}

/* line 52, ../sass/_base.scss */
.header-inner {
  padding: 20px 0;
}
/* line 55, ../sass/_base.scss */
.header-inner a {
  color: #ffffff;
  text-transform: uppercase;
}

/* line 61, ../sass/_base.scss */
.site-title a {
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  display: inline-block;
}

/* Layout
-----------------------------------------------*/
/* line 72, ../sass/_base.scss */
.container {
  padding: 8em 0;
}

/* line 76, ../sass/_base.scss */
.section-header {
  font-weight: 700;
  margin-bottom: 5em;
}

/* Hero
-----------------------------------------------*/
/* line 84, ../sass/_base.scss */
.hero-wrapper {
  background-image: url("../images/capcom.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: fixed;
  height: 100vh;
}

/* line 92, ../sass/_base.scss */
.hero-caption {
  color: #ffffff;
  margin-top: 5em;
}
/* line 96, ../sass/_base.scss */
.hero-caption h1 {
  color: #ffffff;
}
/* line 100, ../sass/_base.scss */
.hero-caption h2 {
  color: #ffffff;
}

/* Home Page Content
-----------------------------------------------*/
/* line 110, ../sass/_base.scss */
.video-entry {
  margin-bottom: 60px;
}

/* line 114, ../sass/_base.scss */
.video-details {
  margin-top: 15px;
}

/* line 118, ../sass/_base.scss */
.video-img {
  position: relative;
}
/* line 121, ../sass/_base.scss */
.video-img img {
  display: block;
  width: 100%;
}

/* Videos
-----------------------------------------------*/
/* line 131, ../sass/_base.scss */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
/* line 137, ../sass/_base.scss */
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 146, ../sass/_base.scss */
.play-btn {
  position: absolute;
  top: 35%;
  left: 40%;
}
/* line 151, ../sass/_base.scss */
.play-btn i {
  color: #ffffff;
  font-size: 6em;
}

/* Footer
-----------------------------------------------*/
/* line 161, ../sass/_base.scss */
.footer-wrapper {
  background: #000000;
  position: relative;
}

/* line 166, ../sass/_base.scss */
.footer-inner {
  position: relative;
  padding: 15px 0;
}

/* line 171, ../sass/_base.scss */
.footer-menu {
  font-size: 14px;
  line-height: 24px;
  margin-top: 5px;
  text-align: center;
}
/* line 177, ../sass/_base.scss */
.footer-menu a {
  color: #ffffff;
  display: inline-block;
  margin: 0 5px;
  text-transform: uppercase;
}
/* line 183, ../sass/_base.scss */
.footer-menu a:before {
  background: #ffffff;
}
/* line 187, ../sass/_base.scss */
.footer-menu a:first-child {
  margin-left: 0;
}
/* line 191, ../sass/_base.scss */
.footer-menu a:last-child {
  margin-right: 0;
}

/* Misc
-----------------------------------------------*/
/* line 201, ../sass/_base.scss */
.row {
  width: 85%;
}

/* line 205, ../sass/_base.scss */
[class*=column] + [class*=column]:last-child {
  float: left;
}

/* Small Desktop
-----------------------------------------------------------*/
/* Tablet
-----------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  /* line 16, ../sass/_mobile.scss */
  .row {
    width: 100%;
  }

  /* line 20, ../sass/_mobile.scss */
  [class*=column] + [class*=column]:last-child {
    float: none;
  }
}
/* Mobile
-----------------------------------------------------------*/
@media only screen and (max-width: 580px) {
  /* line 32, ../sass/_mobile.scss */
  .site-title,
  .main-menu {
    text-align: center;
  }

  /* line 37, ../sass/_mobile.scss */
  .main-menu a {
    margin: 0 5px;
  }

  /* line 41, ../sass/_mobile.scss */
  .footer-menu {
    font-size: 11px;
    line-height: 18px;
    text-align: center;
  }

  /* line 47, ../sass/_mobile.scss */
  .hero-caption {
    top: 28%;
  }
  /* line 50, ../sass/_mobile.scss */
  .hero-caption h1 {
    font-size: 30px;
    line-height: 36px;
  }

  /* line 56, ../sass/_mobile.scss */
  .flex-direction-nav a {
    top: 47%;
  }

  /* line 60, ../sass/_mobile.scss */
  .flex-direction-nav .flex-prev {
    left: 0;
  }

  /* line 64, ../sass/_mobile.scss */
  .flex-direction-nav .flex-next {
    right: 0;
  }
}
