body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  color: $black;
  font-family: $body-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

h1, h2, h3 {
  font-family: $header-font;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 4px
}

h2 {
  font-size: 20px;
  line-height: 38px;
  letter-spacing: 2px;
}

a, i {
  outline: none;
  @include transition-property(all);
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
}


/* Header
-----------------------------------------------*/

.header-wrapper {
  background: $black;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header-inner {
  padding: 20px 0;

  a {
    color: $white;
    text-transform: uppercase;
  }
}

.site-title a {
  color: $white;
  font-size: 22px;
  line-height: 26px;
  display: inline-block;
}


/* Layout
-----------------------------------------------*/

.container {
  padding: 8em 0;
}

.section-header {
  font-weight: 700;
  margin-bottom: 5em;
}

/* Hero
-----------------------------------------------*/

.hero-wrapper {
  background-image: url('../images/capcom.jpg');
  background-repeat: none;
  background-size: cover;
  background-position: fixed;
  height: 100vh;
}

.hero-caption {
  color: $white;
  margin-top: 5em;

  h1 {
    color: $white;
  }

  h2 {
    color: $white;
  }
}



/* Home Page Content
-----------------------------------------------*/

.video-entry {
  margin-bottom: 5em;
}

.video-details {
  margin-top: 15px;
}

.video-img {
  position: relative;

  img {
    display: block;
    width: 100%;
  }
}


/* Videos
-----------------------------------------------*/

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.play-btn {
  position: absolute;
  top: 35%;
  left: 40%;

  i {
    color: $white;
    font-size: 6em
  }
}


/* Footer
-----------------------------------------------*/

.footer-wrapper {
  background: $black;
  position: relative;
}

.footer-inner {
  position: relative;
  padding: 15px 0;
}

.footer-menu {
  font-size: 14px;
  line-height: 24px;
  margin-top: 5px;
  text-align: center;

  a {
    color: $white;
    display: inline-block;
    margin: 0 5px;
    text-transform: uppercase;

    &:before {
      background: $white;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}


/* Misc
-----------------------------------------------*/

.row {
  width: 85%;
}

[class*=column]+[class*=column]:last-child {
  float: left;
}





