body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  background: $black;
  color: $white;
  font-family: $body-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3 {
  color: $white;
  font-family: $header-font;
  font-weight: 700;

}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-size: 1.25em;
  letter-spacing: 1px;
}

a, i {
  outline: none;
  @include transition-property(all);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in-out);
}


/* Header
-----------------------------------------------*/

.header-wrapper {
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 9999;
}

.site-title a {
  color: $white;
  font-family: $logo-font;
  font-size: 2.25em;
  font-weight: 700;
  padding: 0.5em 0;
  text-transform: uppercase;
  display: inline-block;
}


/* Layout
-----------------------------------------------*/

.container {
  padding: 5em 0;
  position: relative;
}

.section-header {
  font-weight: 700;
  margin-bottom: 6em;
  text-align: center;

  h1 {
    display: inline-block;
    padding-bottom: 0.25em;
    border-bottom: 2px solid $white;
  }
}

/* Hero
-----------------------------------------------*/

.hero-wrapper {
  background-image: url('../images/capcom.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
  position: relative;;
}

.hero-caption {
  color: $white;
  margin-top: 8em;
  z-index: 100;

  h1 {
    font-size: 3.25em;
    line-height: 1;
  }

  .button {
    margin-top: 1.75em;
  }
}

.sub-head {
  display: inline-block;
  font-size: 1.25em;
  margin-bottom: 0.5em;
  text-indent: 4px;
  text-transform: uppercase;
}

.overlay {
  background: rgba($black, 0.45);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}


/* Videos
-----------------------------------------------*/

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-entry {
  margin-bottom: 6em;
  @include transition-property(all);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in-out);

  a {
    color: $white;
    display: block;
  }

  a:hover {

    .video-img img {
      opacity: 1;
    }

    .play-btn i {
      opacity: 1;
    }
  }

  &:last-child,
  &:nth-child(4) {
    margin-bottom: 0;
  }
}

.video-details {
  margin-top: 0.75em;
}

.video-img {
  position: relative;

  img {
    display: block;
    width: 100%;
    opacity: 0.75;
  }
}

.play-btn {
  position: absolute;
  top: 36%;
  left: 40%;

  i {
    color: $white;
    font-size: 4.25em;
    opacity: 0.75;
  }
}


/* Footer
-----------------------------------------------*/

.footer-wrapper {
  position: relative;
}

.footer-inner {
  position: relative;
  padding: 2em 0;
}

.footer-menu {
  font-size: 14px;
  line-height: 24px;
  margin-top: 5px;
  text-align: center;

  a {
    color: $white;
    display: inline-block;
    margin: 0 1em;
    text-transform: uppercase;

    &:hover {
      border-bottom: 1px solid $white;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.footer-logo img {
  display: block;
  max-width: 100px;
  margin: 0 auto 1.75em;
}


/* Misc
-----------------------------------------------*/

.column, .columns {
  padding: 0 25px;
}

.button {
  background: $white;
  color: $black;
  font-weight: 700;
  display: inline-block;
  padding: 0.75em 2em;
  text-transform: uppercase;
  @include border-radius(90px);
}

.row {
  width: 85%;
}

