
/* Hero
-----------------------------------------------*/

.hero-wrapper {
  height: 85vh;
  padding-top: 4em;
  position: relative;
}

/* Slider
-----------------------------------------------*/

.hero.flexslider {

  .slides li {
    height: 85vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

/* Caption
-----------------------------------------------*/

.hero-caption {
  background: $black;
  color: $white;
  padding: 3em 2.5em;
  margin-top: 8em;
  z-index: 100;

  h1 {
    font-size: 2.25em;
    line-height: 1;
    margin-bottom: 1em;
  }
}
