
/* Hero
-----------------------------------------------*/

.hero-wrapper {
  height: 85vh;
  padding-top: 4em;
  position: relative;
}

/* Slider
-----------------------------------------------*/

.hero.flexslider {

  .slides li {
    height: 85vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .flex-direction-nav .flex-prev {
    left: -4em;
  }

}

/* Caption
-----------------------------------------------*/

.hero-caption {
  background: $black;
  color: $white;
  padding: 3em 2.25em;
  margin-top: 8em;
  z-index: 100;

  h1 {
    font-size: 2em;
    line-height: 1.4;
    margin-bottom: 0.75em;
  }

  span {
    font-size: 1em;
    display: inline-block;
    margin-bottom: 0.5em;
  }
}
