
/* Hero
-----------------------------------------------*/

.hero-wrapper {
  height: 85vh;
  padding-top: 4em;
  position: relative;
}

/* Slider
-----------------------------------------------*/

.hero.flexslider {

  .slides li {
    height: 85vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .flex-direction-nav a {
    opacity: 1;
    top: auto;
    bottom: 0;
  }
  
  .flex-direction-nav .flex-prev {
    right: 6em;
    left: auto;
  }

  .flex-direction-nav .flex-next {
    right: 1em;
  }

}

/* Caption
-----------------------------------------------*/

.hero-caption {
  background: $black;
  color: $white;
  padding: 3em 2.25em;
  margin-top: 5%;
  z-index: 100;

  h1 {
    font-size: 2em;
    margin-bottom: 0.75em;
  }

  span {
    display: inline-block;
    margin-bottom: 0.5em;
  }
}
