
/* Videos
-----------------------------------------------*/

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* Video Grid
-----------------------------------------------*/

.video-entry {
  margin-bottom: 8em;

  a {
    color: $white;
    display: block;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

/* Video Details
-----------------------------------------------*/

.video-details {
  margin-top: 1.25em;

 span {
    display: inline-block;
    margin: 0.35em 0 0;
 }
}


/* Video Screenshot
-----------------------------------------------*/

.video-img {
  position: relative;

  img {
    display: block;
    width: 100%;
  }
}

/* Play Button
-----------------------------------------------*/

.play-btn {
  position: absolute;
  top: 40%;
  left: 46%;

  i {
    color: rgba($white,0.75);
    font-size: 6em;
  }
}

